services:
  nginx:
    build: ./nginx
    ports:
      - 2222:2222
      - 8080:8080
    networks:
      - internet
      - no-internet
    restart: unless-stopped

  db:
    image: postgres:14
    environment:
      - POSTGRES_DB=${GITEA_DB}
      - POSTGRES_PASSWORD=${GITEA_DB_PW}
      - POSTGRES_USER=${GITEA_DB_USER}
    networks:
      - no-internet
    volumes:
      - ./v/postgres:/var/lib/postgresql/data
    restart: unless-stopped

  gitea:
    image: gitea/gitea:1.25.2-rootless
    depends_on:
      - db
    environment:
      # https://docs.gitea.com/administration/config-cheat-sheet
      - GITEA__database__DB_TYPE=postgres
      - GITEA__database__HOST=db:5432
      - GITEA__database__NAME=${GITEA_DB}
      - GITEA__database__PASSWD=${GITEA_DB_PW}
      - GITEA__database__USER=${GITEA_DB_USER}
      - GITEA__server__SSH_LISTEN_PORT=2222 # port for the built-in SSH server
      - GITEA__server__SSH_PORT=2222 # SSH port displayed in clone URL
      - GITEA__service__DISABLE_REGISTRATION=true # only admin can create accounts for users
    networks:
      - no-internet
    volumes:
      - ./v/gitea/config:/etc/gitea
      - ./v/gitea/data:/var/lib/gitea
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped

networks:
  internet: {}
  no-internet:
    internal: true
