[Unit]
Description=autossh tunnel pika.mofu.dev:3203 <----> localhost:22

[Service]
User=pika

Environment="AUTOSSH_GATETIME=0"
ExecStart=autossh -i ./private-key -M 20002 -N -R 0.0.0.0:3203:localhost:22 pika@pika.mofu.dev

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
